html {
    font-family: Helvetica, sans-serif;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-container {
    margin-bottom: 40px;
}
.sprint-info {
    padding-left: 12px;
    padding-bottom: 20px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 7px 10px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #eee;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #eee;
}

.show {
  display:block;
}

.students {
    text-align: left;
    background-color: #F8A819;    
    margin: 20px 20px 20px 20px;
    padding: 20px 30px 20px 10px;
    border: 2px solid black;
    width: 250px;
    height: 110px;    
    display: inline-block;
}

#btn {
    display: block;
    margin: 20px auto;
}